@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
  .bg {
    background-image: url('./img/bg.png');
    background-size: cover;
  }
}


